parameters:
    excludes_analyse:
        - "%rootDir%/../app"
        - "%rootDir%/../test"
        - "%rootDir%/../deploy*.php"
        - "%rootDir%/../vendor"
        - "%rootDir%/../web/app*.php"
        - "%rootDir%/../web/app*.php"
